body{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: aqua;
}
p{
    text-align: center;
    margin-top: 25%;
    font-size: 350%;
}
a{
    text-decoration: none;
    color: white;
    border: 1px black solid;
    padding: 1%;
    margin-left: 2%;
}